body {
  font-family: 'Chiron GoRound TC', sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
}

header, section, footer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

h1, h2, h3 {
  font-weight: 400;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}